.image-container  {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.article-container {
    margin: 0 50px 0 50px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: beige;
}


.article-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 30px 0;
}

.article-header button {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 15px;
  border: solid 2px #2F2E41;
  border-radius: 10px;
  background: none;
  opacity: 0.7;
  font-size: 18px;
}


.author {
  margin-left: 20px;
}

.posted-date {
  margin-left: 20px;
  color: #2F2E41;
}

.share-button:hover{
  cursor: pointer;
  opacity: 1;
}

.title {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.body {
  color: #9797A0;
  text-align: justify;
  font-size: 24px;
}


.similar-articles-heading {
  /* margin-left: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
  border-top:solid 2px #2F2E41;
  border-bottom:solid 2px #2F2E41;
  padding: 10px;
  font-size: 32px;
  color: #2F2E41;
}