.navbar-container {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 50px 10px 50px;

}
.navigation-container {
    margin-left: 250px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-list li{
    margin: 0 15px 0 15px;
    color: rgb(76, 76, 76);
}

.nav-list li:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.navbar-social-media-container {
    margin-left: 115px;
    display: flex;
    justify-content: space-around;
}

.navbar-social-media-container img{
    margin: 0 5px 0 5px;
}

.post-article-btn {
    margin-left: 25px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
}