* {
    margin: 0;
    padding: 0;
}

.app-container {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.landing-page-container {
    display: flex;
    justify-content: flex-start;
}

.landing-page-image-container {
    background-image: url('./assets/images/landing-page-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-page-container {
    display: flex;
    justify-content: flex-start;
}

.login-page-image-container {
    background-image: url('./assets/images/login-page-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    margin:70px 0 0 50px;
}

.bottom {
    margin:0 0 70px 50px;
}

.bottom p{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
}

.bottom h2{
    font-weight: 500;
    font-size: 30px;
}

.bottom h6{
    font-weight: 500;
    font-size: 20px;
}